html, body, div {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

footer {
    background: #808080;
    color: white;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}
